<div class="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <div class="tool-bar order" ng-class="{'active': module == 'grocery'}">
          <p><a href="#/grocery/home"><i class="fa fa-home"></i>店铺</a></p><b></b></div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="tool-bar grocery" ng-class="{'active': module == 'order'}">
          <p><a href="#/order/home"><i class="fa fa-file-text"></i>订单</a></p><b></b></div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="tool-bar cart" ng-class="{'active': module == 'merchandise'}">
          <p><a href="#/merchandise/home"><i class="fa fa-shopping-cart"></i>商品</a></p><b></b></div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="tool-bar user last" ng-class="{'active': module == 'user'}">
          <p><a href="#/user/home"><i class="fa fa-user"></i>店长</a></p><b></b></div>
      </div>
    </div>
  </div>
</div>