<div class="header-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <a href="#/user/home">
          <i class="fa fa-arrow-left"></i>
        </a>
      </div>
      <div class="col-md-6 col-xs-6">
        密码修改
      </div>
      <div class="col-md-3 col-xs-3">
      </div>
    </div>
  </div>
</div>

<div class="body-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal password">
          <div class="form-group">
            <label for="old_passowrd" class="col-sm-2 control-label">原密码</label>

            <div class="col-sm-10">
              <input type="password" class="form-control" id="old_passowrd" placeholder="输入原密码" name="old" required autofocus>
            </div>
          </div>
          <div class="form-group">
            <label for="new_passowrd" class="col-sm-2 control-label">新密码</label>

            <div class="col-sm-10">
              <input type="password" class="form-control" id="new_passowrd" placeholder="输入新密码" name="new" required autofocus>
            </div>
          </div>
          <div class="form-group">
            <label for="confirm" class="col-sm-2 control-label">确认密码</label>

            <div class="col-sm-10">
              <input type="password" class="form-control" id="confirm" placeholder="输入确认密码" name="confirm" required autofocus>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <input type="button" class="btn btn-danger btn-block" ng-click="updatePassword()" value="更新" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div ng-include src="'views/footer.html'"></div>