<div class="header-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <a href="#/grocery/home">
          <i class="fa fa-arrow-left"></i>
        </a>
      </div>
      <div class="col-md-6 col-xs-6">
        搜索
      </div>
      <div class="col-md-3 col-xs-3">
        <!--<i class="fa fa-refresh" ng-click="reload()"></i>-->
      </div>
    </div>
  </div>
</div>

<div class="body-bar">
  <div class="container">
    <div class="row menu">
      <div class="col-md-4 col-xs-4">
        <a class="native-item settings" ng-href="#/search/merchandise">
          <i class="fa fa-tags"></i>
          <span>商品搜索</span>
        </a>
      </div>
      <div class="col-md-4 col-xs-4">
        <a class="native-item position" ng-href="#/search/category">
          <i class="fa fa-reorder"></i>
          <span>分类搜索</span>
        </a>
      </div>
      <div class="col-md-4 col-xs-4">
        <a class="native-item preview" ng-href="#/search/order">
          <i class="fa fa-file-text"></i>
          <span>订单搜索</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div ng-include src="'views/footer.html'"></div>